form {
  margin: 0 auto;
  width : 400px;

  padding: 1em;
  border : 1px solid #CCC;
  border-radius: 1em;
}

footer{

clear: both;

height: 200px;

width: 100%;

text-align: center;

margin: 0;

font-family: arial;

font-weight: bold;

font-size: 12px;

background-color: #000;

color:#fff;

}