article {
width: initial;
padding: 5px;
margin: initial;
}

form {
margin: inherit;
width : inherit;
padding: 1em;
border : 1px solid #CCC;
border-radius: 1em;
}

footer{
margin: 0 auto;
margin-top: 5px;
clear: both;
height: 150px;
width: 100%;
text-align: center;
font-family: arial;
font-weight: bold;
font-size: 12px;
background-color: #000;
color:#fff;
}